@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: big;
	src:url(Voltaire-Regular.otf);
}

body {
	background-color: #E9E5E2;
}

img {
	opacity: 0.1;
	z-index: -100;
}

.row {
	width:100%;
	z-index: -1;
	font-family: big;
	font-weight: bold;
	font-size: 340px;	
}

.description {
	width:100%;
	font-family: big;
	font-weight: bold;
	font-size: 16px;	
}

#tl{
	background: -webkit-linear-gradient(top, #000, #000 25%, #342B72 25%, #622B76);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#tm{
	background: -webkit-linear-gradient(top, #000, #000 25%, #342B72 25%, #622B76);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ul {
	background: -webkit-linear-gradient(left, #000, #000 43.5%, #C6507D 43.5%, #DE708A);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#um {
	background: -webkit-linear-gradient(top, #A03B72, #EE868A);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ur {
	background: -webkit-linear-gradient(right, #000, #000 42%, #C6507D 42%, #DE708A);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ml {
	background: -webkit-linear-gradient(left, #000, #000 43.5%, #EAAA85 43.5%, #EFEB94);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#mm {
	background: -webkit-linear-gradient(top, #F4A280, #F0EE97);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#mr {
	background: -webkit-linear-gradient(right, #000, #000 41%, #EFEB94 41%, #EAAA85);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ll {
	background: -webkit-linear-gradient(left, #000, #000 44%, #96C1A6 44%, #B7D0AA);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#lm {
	background: -webkit-linear-gradient(top, #D6DDA8, #72A7A1);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#lr {
	background: -webkit-linear-gradient(right, #000, #000 41%, #96C1A6 41%, #B7D0AA);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bm {
	background: -webkit-linear-gradient(bottom, #000, #000 30%, #6D95A1 30%, #76A3A6);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left {
    float: left;
    width: 325px;
}

.mid {
	float: left;
	width: 930px;
	background: -webkit-radial-gradient(center, 5em 70px, #EFD688, #AF4177);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right {
	float: left;
	width: 325px;
	background: -webkit-linear-gradient(right, #000, #000, #6EA4B2 65%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#container {
	text-align: center;
	margin: 0;
	border-color: black;
	border-width: 12.5px;
	border-style: solid;
	width: 1580px;
	height: 2340px;
	/* background-image:url(modern.jpg); */
	
	position: relative;
}

#background {
	display: inline-block;
	z-index: -21;
	top: 4.4%;
	left: 9%;
	height: 1892.5px;
	width: 1305px;
	position: absolute;
	background-image: linear-gradient(to bottom, #342B72, #85B2A7, #F3D289, #F36165, #F03467);
}

h1 {
	font-weight: bold;
	font-family: sans-serif;
	-webkit-text-size-adjust: auto;
}

h2 {
	font-weight: normal;
	font-family: sans-serif;
	-webkit-text-size-adjust: auto;
}

h3 {
	font-weight: normal;
	font-family: sans-serif;
	-webkit-text-size-adjust: auto;
}

p {
	font-weight: normal;
	font-family: sans-serif;
	-webkit-text-size-adjust: auto;
}



