@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: big;
	src:url(Voltaire-Regular.otf);
}

body {
	background-color: #E9E5E2;
}

img {
	opacity: 0.1;
	z-index: -100;
}

.row {
	width:100%;
	z-index: -1;
	font-family: big;
	font-weight: bold;
	font-size: 340px;
	
}

.left {
    float: left;
    width: 325px;
}

.mid {
	float: left;
	width: 930px;
}

.right {
	float: left;
	width: 325px;
}

#container {
	text-align: center;
	margin: 0;
	border-color: black;
	border-width: 12.5px;
	border-style: solid;
	width: 1580px;
	height: 2340px;
	/* background-image:url(modern.jpg); */
	
	position: relative;
}

#background {
	display: inline-block;
	z-index: -21;
	top: 4.5%;
	left: 9%;
	height: 1892.5px;
	width: 1300px;
	position: absolute;
	background-image: linear-gradient(to bottom, #342B72, #85B2A7, #F3D289, #F36165, #F03467);
}

h1 {
	font-weight: bold;
	font-family: sans-serif;
}

h2 {
	font-weight: normal;
	font-family: sans-serif;
}

h3 {
	font-weight: normal;
	font-family: sans-serif;
}

p {
	font-weight: normal;
	font-family: sans-serif;
}



